[Interface]
# WireGuard Server Configuration
PrivateKey = {{ private_key }}
Address = {{ address }}
ListenPort = {{ port }}
SaveConfig = false

# Post-up and post-down scripts for NAT
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ external_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ external_interface }} -j MASQUERADE

# Enable IP forwarding
PreUp = sysctl -w net.ipv4.ip_forward=1